button {
    background-color: aqua;
    color: red;
    font-family: Microsoft Sans Serif;
    font-size: 12px;
    font-style: italic;
    text-align: topcenter;
}

label {
    background-color: aqua;
    color: red;
    font-family: Microsoft Sans Serif;
    font-size: 12px;
    font-style: italic;
    text-align: topcenter;
}

textbox {
    background-color: aqua;
    color: red;
    font-family: Microsoft Sans Serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

checkbox {
    background-color: aqua;
    color: red;
    font-family: Microsoft Sans Serif;
    font-size: 12px;
    font-style: italic;
    text-align: topcenter;
}

combobox {
    background-color: aqua;
    color: red;
    font-family: Microsoft Sans Serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

radiobutton {
    background-color: aqua;
    color: red;
    font-family: Microsoft Sans Serif;
    font-size: 12px;
    font-style: italic;
    text-align: topcenter;
}

listbox {
    background-color: aqua;
    color: red;
    font-family: Microsoft Sans Serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
